._*
.buildpath
.cache
.DS_Store
.env
.project
.session
.settings
.Spotlight-V100
.TemporaryItems
.Trashes
.webprj
*.bak
*.idea
*.project
*.swp
*~
*GENERATED*
*NOT_VERSIONED*
ehthumbs.db
nbproject
Thumbs.db
