name: tests

on:
  push:
  pull_request:

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint PHP
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s lint

  quality:
    name: Quality
    runs-on: ubuntu-latest
    env:
      php: '8.1'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install testing system
        run: Build/Scripts/runTests.sh -p ${{ env.php }} -s composerUpdate

      - name: CGL
        run: Build/Scripts/runTests.sh -n -p ${{ env.php }} -s cgl -n

      - name: Check Rst
        run: Build/Scripts/runTests.sh -p ${{ env.php }} -s checkRst

      - name: Lint YAML
        run: .Build/bin/yaml-lint Documentation/
